@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html {
    margin: 75px 150px 1050px 150px;
}
.hide-scroll::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;}


/*---------------------BODY------------------------*/
body {
    font-family: 'Permanent Marker', cursive;
    background-color: aqua;

}

/*---------------------NAV BAR------------------------*/
header {
    background-color: aliceblue;
    height: 20%;
    padding-bottom: 5%;
    display: flex;
    justify-content:center;
    
}
#nav-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.nav-bar li{ list-style: none;
    padding-right: 95px;
}

.nav-bar a{text-decoration: none;
    font-size: large;
}


/*--------------------ITEM ROWS-------------------------*/

.proj-box {
    background-color: blue;
    text-align: center;
    min-height: 275px;
    width: 275px;
    position: relative;
    transition: ease all 0.5s;
}
.proj-box h1{
    color: fuchsia;
    font-size: 25px;
    font-weight: 400;
}

.proj-box:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.proj-box a{
    text-decoration: none;
}

/* ASAP !FIX THESE BELOW FOR RESPONSIVE VIEWS! ASAP*/
#item-row {
    display: flex;
    justify-content: space-evenly;
    margin:25px 25px 50px 25px;
}
#item-row-2 {
    display: flex;
    justify-content: space-evenly;
    margin:25px 25px 50px 25px;
}
