@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    max-height: 100vh;
    margin-bottom: 1050px;
}
.hide-scroll::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;}

/*---------------------BODY------------------------*/
body {
    font-family: 'Permanent Marker', cursive;
    background: #000;
    color: #fff;
    background-image: url(/img/earthlights1.png);
    background-repeat: no-repeat;
    max-height: 100%;
    height: 100%;
    overflow: hidden; 

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.row {

    margin-top: 150px;
    margin-bottom: 100px;
}

/*---------------------Header------------------------*/

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding-right: 35px;
}

a {
    text-decoration: none;
    color: white;
}


/*----------------------Footer-----------------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 10px;
}


/*----------------------About-----------------------*/
.about-text {
    word-wrap: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-size: large;
}

/*--------------------Contact Page and Input-------------------------*/

.proj-info-text h1 {
    align-items: center;
    justify-content: center;
}

.contact-form-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.contact-input {}

/*---------------------------------------------*/