@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html {
    margin: 75px 150px 1050px 150px;
}

body {
    font-family: 'Permanent Marker', cursive;
    background-color: aqua;
}

/* NAV BAR */
header {
    background-color: aliceblue;
    height: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content:center;
    
}
#nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

li{ list-style: none;
    padding-right: 95px;
}

a{text-decoration: none;
}


/*ITEM ROWS*/

.left {
    background-color: blue;
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background-color: blueviolet;
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: red;
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-row {
    display: flex;
    justify-content: space-evenly;
}